[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/subhashgutti
[access "refs/for/refs/*"]
	read = group user/subhashgutti
	push = group user/subhashgutti
	label-Code-Review = -2..+2 group user/subhashgutti
	label-Verified = -1..+1 group user/subhashgutti
	rebase = group user/subhashgutti
	removeReviewer = group user/subhashgutti
	submit = group user/subhashgutti
[access "refs/heads/*"]
	read = group user/subhashgutti
	create = group user/subhashgutti
	push = +force group user/subhashgutti
	pushMerge = group user/subhashgutti
[access "refs/tags/*"]
	push = +force group user/subhashgutti
	pushTag = group user/subhashgutti
	pushSignedTag = group user/subhashgutti
